body {
    margin: 0;
    padding: 0;
    background-color: #F0F0F0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

h1 {
    margin-bottom: 20px;
}

button {
    margin: 10px;   
}

