body {
    margin: 0;
    padding: 0;
    background-color: #dadada;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

h1 {
    margin-bottom: 20px;
}

button {
    margin: 10px;
}

.jokesList {
    margin-top: 20px;
}

.jokeDetails {
    margin-bottom: 20px;
}

.revealButton {
    margin-top: 10px;
}

.punchline {
    margin-top: 10px;
}

.hidden {
    display: none;
}
